body {
  background: black;
}

h1, h2, h3 {
  color: white;
  text-align: left;
}

.comentario {
  font-family: cursive;
  color: gray;
  font-weight: bold;
}

.codigo {
  font-family: 'Times New Roman';
  color:cyan;
  font-size: 1.2em;
}

span {
  color: yellowgreen;
}